{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}



{% block body %}


<div class="container">
        <div class="row">
            <div class="col md-12">

                 <div class="jumbotron p-3">

                     <h2>Manage <b>Bookings </b> <button type="button" class="btn btn-success float-right"
                     data-toggle="modal" data-target="#mymodal">Add New Booking</button> </h2>




                     <table class="table table-hover table-dark">

                         <tr>

                             <th>ID</th>
                             <th>NAME</th>
                             <th>D.O.B</th>
                             <th>LICENSE</th>
                             <th>Action</th>

                         <tr>



                         <tr>
                             <td>01</td>
                             <td>Waqas</td>
                             <td>24/07/1994</td>
                             <td>100</td>

                             <td>
                                 <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                                 <a href="" class="btn btn-danger btn-xs" onclick="return confirm ('Are You Sure You Want to Delete This Entry?')">Delete</a>



                             </td>


                         </tr>


                     </table>



                 </div>


                #imported template from bootstrap


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add New Booking</h4>
         </div>
         <div class="modal-body">

            <form action="" method="POST">


                <div class="form-group">

                  <label>ID:</label>
                  <input type="text" class="form-control" name="ID" required="1">


               </div>


               <div class="form-group">

                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">


               </div>


                <div class="form-group">


                  <label>D.O.B:</label>
                  <input type="D.O.B" class="form-control" name="email" required="1">


               </div>


                <div class="form-group">


                  <label>License:</label>
                  <input type="License" class="form-control" name="phone" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add New Booking</button>



            </div>

        </div>





{% endblock %}